<!-- entete -->
<div class="d-flex justify-content-between align-items-center ">
  <div class="fs-1">Les Gardiens  - {{les_gardiens.length}}</div>
  <div class="d-flex align-items-center">
    <div class="form-group">
      <input class="form-control" type="text" [(ngModel)]="searchText">
    </div>
    <button class="btn btn-primary m-1" data-bs-toggle="modal"
      data-bs-target="#modal_add_gardien" (click)="open_modal(modal_add_gardien)">
      <span [data-feather]="'plus'"> </span>
      Ajouter Gardien
    </button>
  </div>
</div>
<!-- list -->
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <!-- <th scope="col">Matricule</th> -->
        <th scope="col">Nom</th>
        <th scope="col">Statut</th>
        <!-- <th scope="col">Affectation</th> -->
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let one_gardien of les_gardiens | filter : searchText">
    <td>{{one_gardien.prenom_gardien+" "+one_gardien.nom_gardien}}
      <div>
        <span [data-feather]="'phone'"></span>
        {{one_gardien.telephone_gardien}}
      </div>
    </td>
    <td class="{{one_gardien.statut == 'Actif' ? 'badge badge-pill badge-glow badge-success' : 'badge badge-glow badge-danger'}}">{{one_gardien.statut}}</td>
    <!-- <td>{{one_gardien.affectation}}</td> -->
    <td> 
      <div ngbDropdown container="body">
        <button type="button" class="btn p-0  hide-arrow" ngbDropdownToggle data-bs-toggle="dropdown">
          <i data-feather="more-vertical"></i>
        </button>
        <div ngbDropdownMenu>
          <a (click)="open_modal_edit(modal_edit_gardien,one_gardien)" ngbDropdownItem data-bs-toggle="modal"
            data-bs-target="#modal_edit_gardien">
            <i class="bx bx-edit-alt me-1"></i>
            Modifier
          </a>
          <a ngbDropdownItem href="javascript:void(0);" (click)="open_modal_detail(modal_detail_gardien,one_gardien)"><i class="bx bx-trash me-1"></i>Voir plus</a>
          <a ngbDropdownItem href="javascript:void(0);" (click)="open_modal_delete(modal_delete_gardien,one_gardien)"><i class="bx bx-trash me-1"></i>Supprimer</a>
        </div>
      </div>
    </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- ajout -->
<ng-template #modal_add_gardien let-modal>
  <div class="modal-header">
    <h5 class="modal-title text-primary" id="exampleModalCenterTitle">Nouveau gardien</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-add-gardien (cb_add_gardien)="after_add($event)"></app-add-gardien>
  </div>
</ng-template>
<!-- modification -->
<ng-template #modal_edit_gardien let-modal>
  <div class="modal-header">
    <h5 class="modal-title text-primary" id="exampleModalCenterTitle">Modification gardien</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-edit-gardien *ngIf="gardien_to_edit" [gardien_to_edit]="gardien_to_edit" (cb_edit_gardien)="after_edit($event)" > </app-edit-gardien>
  </div>
</ng-template>
<!-- Supprimer -->
<ng-template #modal_delete_gardien let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Confirmation de la suppression</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{"Êtes-vous sûr de vouloir supprimer"}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn bg-danger  bg-darken-2 text-white" (click)="delete_gardien()">
        {{ loading_delete_gardien ? "En cours ..." : "Oui" }}
    </button>
  <button type="button"class="btn bg-warning bg-darken-2 text-white" (click)="modal.dismiss()">Non
    </button>
  </div>
</ng-template>
<!-- Details -->
<ng-template #modal_detail_gardien let-modal>
  <div class="modal-header">
    <h5 class="modal-title text-primary" id="exampleModalCenterTitle">Gardien</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-detail-gardien [gardien_detail]="gardien_detail" > </app-detail-gardien>
  </div>
</ng-template>
