<!-- entete -->
<div class="d-flex align-items-center justify-content-between">
  <div class="fs-1">Les Gardiens  - {{les_gardiens.length}}</div>
  <div class="d-flex">
    <button class="btn btn-primary m-1" data-bs-toggle="modal"
     data-bs-target="#modal_add_gardien" (click)="open_modal(modal_add_gardien)">Ajouter Gardien</button>
  </div>
</div>
<!-- list -->
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
<!-- <th scope="col">Matricule</th> -->
<th scope="col">Nom</th>
<th scope="col">Statut</th>
<th scope="col">Affectation</th>
<th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let one_gardien of les_gardiens">
<!-- <td>{{one_gardien.matricule_gardien}}</td> -->
<td>{{one_gardien.prenom_gardien+" "+one_gardien.nom_gardien}}</td>
<td>{{one_gardien.statut_gardien}}</td>
<td>{{one_gardien.id_societe}}</td>

<td> 
  <div class="dropdown">
    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">actions</button>
    <div class="dropdown-menu">
      <a (click)="on_click_edit(one_gardien)" class="dropdown-item" data-bs-toggle="modal"
        data-bs-target="#modal_edit_gardien">
        <i class="bx bx-edit-alt me-1"></i>
        Modifier
      </a>
      <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i>Voir plus</a>
      <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i>Supprimer</a>
    </div>
  </div>
</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- modal d'ajout -->
<ng-template #modal_add_gardien let-modal>
  <div class="modal-header">
    <h5 class="modal-title text-primary" id="exampleModalCenterTitle">Nouvel gardien</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-add-gardien></app-add-gardien>
  </div>
</ng-template>
<!-- ajout -->
<div class="modal fade" id="modal_add_gardien" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
          <div class="modal-header " data-bs-theme="dark">
              <h1 class="modal-title fs-5">Ajouter Gardien</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <app-add-gardien (cb_add_gardien)="after_add($event)"></app-add-gardien>
          </div>
      </div>
  </div>
</div>
<!-- modification -->
<div class="modal fade" id="modal_edit_gardien" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header" data-bs-theme="dark">
        <h1 class="modal-title fs-5">Modifier Gardien</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="on_close_modal_edit()"></button>
      </div>
      <div class="modal-body">
        <app-edit-gardien *ngIf="gardien_to_edit" (cb_edit_gardien)="after_edit($event)" [gardien_to_edit]="gardien_to_edit"></app-edit-gardien>
      </div>
    </div>
  </div>
</div>
  