

<ul class="list-group list-group-flush" *ngFor="let one_gardien of les_gardiens">
    <li class="list-group-item">Nom : {{one_gardien.prenom_gardien+" "+one_gardien.nom_gardien}}</li>
    <li class="list-group-item">Date de naissance : {{one_gardien.date_naissance_gardien}}</li>
    <li class="list-group-item">Lieu de naissance : {{one_gardien.lieu_naissance_gardien}}</li>
    <li class="list-group-item">Téléphone : {{one_gardien.telephone_gardien}}</li>
    <li class="list-group-item">Date d'insertion : {{one_gardien.date_insertion_gardien}}</li>
    <li class="list-group-item">Email : {{one_gardien.email_gardien}}</li>
  </ul>
