
<div class="alert alert-warning text-center">
  <p>Tous les champs marqués d'un astérisque (*) sont obligatoires.</p>
</div>
<form  [formGroup]="reactiveForm_edit_gardien_note " (ngSubmit)="onSubmit_edit_gardien_note ()" #form_edit_gardien_note ="ngForm" class="row">
<!-- id_gardien field avec un control de validite -->
    <div class="form-group col-6">
      <label >Gardien <span class="text-danger fs-1">*</span></label>
      <select class="form-control" type="text"  formControlName="id_gardien"  placeholder="id_gardien"  [ngClass]="{ 'is-invalid': submitted && f.id_gardien.errors }">
        <option value="{{one_gardien.id_gardien}}" *ngFor="let one_gardien of les_gardiens"> {{one_gardien.prenom_gardien+" "+one_gardien.nom_gardien}}</option>
        </select>
      <div *ngIf="submitted && f.id_gardien.errors" class="invalid-feedback">
          <div *ngIf="f.id_gardien.errors.required"> Le gardien est obligatoire </div>
      </div>
    </div>  
<!-- id_note field avec un control de validite -->
    <div class="form-group col-6">
      <label >Note <span class="text-danger fs-1">*</span></label>
      <select class="form-control" type="text"  formControlName="id_note"  placeholder="id_note"  [ngClass]="{ 'is-invalid': submitted && f.id_note.errors }">
        <option value="{{one_note.id_note}}" *ngFor="let one_note of les_notes"> {{ one_note.note}}</option>
        </select>
      <div *ngIf="submitted && f.id_note.errors" class="invalid-feedback">
          <div *ngIf="f.id_note.errors.required"> La note est obligatoire </div>
      </div>
    </div>  
    <!-- commentaire field avec un control de validite -->
    <div class="form-group col-8">
      <label >Commentaire</label>
      <textarea class="form-control" type="text"  formControlName="commentaire"  placeholder="commentaire"  [ngClass]="{ 'is-invalid': submitted && f.commentaire.errors }">
        </textarea>
      <div *ngIf="submitted && f.commentaire.errors" class="invalid-feedback">
          <div *ngIf="f.commentaire.errors.required"> Le commentaire est obligatoire </div>
      </div>
    </div> 
<!-- date_note field avec un control de validite -->
    <div class="form-group col-6">
      <label >Date <span class="text-danger fs-1">*</span></label>
      <input class="form-control" type="date"  formControlName="date_note"  placeholder="date_note"  [ngClass]="{ 'is-invalid': submitted && f.date_note.errors }"/>
      <div *ngIf="submitted && f.date_note.errors" class="invalid-feedback">
          <div *ngIf="f.date_note.errors.required"> La date est obligatoire </div>
      </div>
    </div>  
  
</form>
<!-- vous pouvez valider votre formulaire n'importe ou -->

<div class="text-center m-2">
    <button type="button" class="btn btn-primary m-2" [disabled]="loading_edit_gardien_note || !check_change() "
        (click)="form_edit_gardien_note .ngSubmit.emit()">{{loading_edit_gardien_note ?"En cours ...":"Valider"}}</button>
</div>
