
<form  [formGroup]="reactiveForm_edit_indemnite_gardien " (ngSubmit)="onSubmit_edit_indemnite_gardien ()" #form_edit_indemnite_gardien ="ngForm" class="row">
<!-- id_indemnite field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Nature indemnite</label>
      <select  class="form-control" type="text"  formControlName="id_indemnite"  placeholder="id_indemnite"  [ngClass]="{ 'is-invalid': submitted && f.id_indemnite.errors }">
        <option value="{{one_indemnite.id_indemnite}}" *ngFor="let one_indemnite of les_indemnites"> {{one_indemnite.nature_indemnite}}</option>
        </select>
      <div *ngIf="submitted && f.id_indemnite.errors" class="invalid-feedback">
          <div *ngIf="f.id_indemnite.errors.required"> id_indemnite est obligatoire </div>
      </div>
    </div>  
<!-- id_gardien field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Gardien</label>
      <select class="form-control" type="text"  formControlName="id_gardien"  placeholder="id_gardien"  [ngClass]="{ 'is-invalid': submitted && f.id_gardien.errors }">
        <option value="{{one_gardien.id_gardien}}" *ngFor="let one_gardien of les_gardiens"> {{one_gardien.prenom_gardien+" "+one_gardien.nom_gardien}}</option>
        </select>
      <div *ngIf="submitted && f.id_gardien.errors" class="invalid-feedback">
          <div *ngIf="f.id_gardien.errors.required"> id_gardien est obligatoire </div>
      </div>
    </div>  
 <!-- montant_indemnite field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Montant indemnite</label>
      <input class="form-control" type="number"  formControlName="montant_indemnite"  placeholder="montant_indemnite" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.montant_indemnite.errors }"/>
      <div *ngIf="submitted && f.montant_indemnite.errors" class="invalid-feedback">
          <div *ngIf="f.montant_indemnite.errors.required"> montant_indemnite est obligatoire </div>
      </div>
    </div>		
<!-- date_indemnite field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Date</label>
      <input class="form-control" type="date"  formControlName="date_indemnite"  placeholder="date_indemnite" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.date_indemnite.errors }"/>
      <div *ngIf="submitted && f.date_indemnite.errors" class="invalid-feedback">
          <div *ngIf="f.date_indemnite.errors.required"> date_indemnite est obligatoire </div>
      </div>
    </div>	
</form>
<!-- vous pouvez valider votre formulaire n'importe ou -->

<div class="text-center m-2">
    <button type="button" class="btn btn-primary m-2" [disabled]="loading_edit_indemnite_gardien "
        (click)="form_edit_indemnite_gardien .ngSubmit.emit()">{{loading_edit_indemnite_gardien ?"En cours ...":"Valider"}}</button>
    <button class="btn btn-secondary m-2" type="reset" (click)="onReset_edit_indemnite_gardien ()">Vider</button>
</div>
