<!-- entete -->
<div class="d-flex align-items-center justify-content-between">
  <h2 class="m-0 text-primary">Nos collaborateurs - {{les_societes.length}}</h2>
  <div class="d-flex m-1">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_add_societe" 
    (click)="open_modal(modal_add_societe)">Nouveau Collaborateur
    <span [data-feather]="'plus-circle'"> </span>
  </button>
  </div>
</div>
<!-- list -->
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
<th scope="col">nom_societe</th>
<th scope="col">description_societe</th>
<th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let one_societe of les_societes">
<td>{{one_societe.nom_societe}}</td>
<td>{{one_societe.description_societe}}</td>
<td>
  <div ngbDropdown container="body">
    <button type="button" class="btn p-0 hide-arrow" ngbDropdownToggle data-bs-toggle="dropdown">
      <i data-feather="more-vertical"></i>
    </button>
    <div ngbDropdownMenu>
      <a ngbDropdownItem data-bs-toggle="modal"
        data-bs-target="#modal_edit_societe" (click)="open_modal_edit(modal_edit_societe,one_societe)">
        <i class="bx bx-edit-alt me-1"></i>
        Modifier
      </a>
      <a ngbDropdownItem  href="javascript:void(0);" (click)="open_modal_delete(modal_delete_societe,one_societe)"><i class="bx bx-trash me-1"></i>Supprimer</a>
    </div>
  </div>
</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- ajout -->
<ng-template #modal_add_societe let-modal>
    <div class="modal-header">
      <h5 class="modal-title text-primary" id="exampleModalCenterTitle">Nouveau Collaborateur</h5>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-add-societe (cb_add_societe)="after_add($event)"></app-add-societe>
    </div>
</ng-template>
<!-- modification -->
<ng-template #modal_edit_societe let-modal>
  <div class="modal-header">
    <h5 class="modal-title text-primary" id="exampleModalCenterTitle">Modifier Collaborateur</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-edit-societe *ngIf="societe_to_edit" (cb_edit_societe)="after_edit($event)" [societe_to_edit]="societe_to_edit"></app-edit-societe>
  </div>
</ng-template>
<!-- Supprimer -->
<ng-template #modal_delete_societe let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Confirmation de la suppression</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{"Êtes-vous sûr de vouloir supprimer"}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn bg-danger  bg-darken-2 text-white" (click)="delete_societe()">
        {{ loading_delete_societe? "En cours ..." : "Oui" }}
    </button>
  <button type="button"class="btn bg-warning bg-darken-2 text-white" (click)="modal.dismiss()">Non
    </button>
  </div>
</ng-template>
  