<!-- entete -->
<div class="d-flex align-items-center justify-content-between">
  <div class="fs-1">Les Societes  - {{les_societes.length}}</div>
  <div class="d-flex">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_add_societe">Ajouter Societe</button>
  </div>
</div>
<!-- list -->
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id_societe</th>
<th scope="col">nom_societe</th>
<th scope="col">description_societe</th>
<th scope="col">created_at</th>
<th scope="col">updated_at</th><th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let one_societe of les_societes">
        <td>{{one_societe.id_societe}}</td>
<td>{{one_societe.nom_societe}}</td>
<td>{{one_societe.description_societe}}</td>
<td>{{one_societe.created_at}}</td>
<td>{{one_societe.updated_at}}</td><td>
  <div class="dropdown">
    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">actions</button>
    <div class="dropdown-menu">
      <a (click)="on_click_edit(one_societe)" class="dropdown-item" data-bs-toggle="modal"
        data-bs-target="#modal_edit_societe">
        <i class="bx bx-edit-alt me-1"></i>
        Modifier
      </a>
      <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i>Voir plus</a>
      <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i>Supprimer</a>
    </div>
  </div>
</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- ajout -->
<ng-template>
    <div class="modal-header">
      <h5 class="modal-title text-primary" id="exampleModalCenterTitle">Nouveau Collaborateur</h5>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-add-societe (cb_add_societe)="after_add($event)"></app-add-societe>
    </div>
</ng-template>
<!-- modification -->
<div class="modal fade" id="modal_edit_societe" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header" data-bs-theme="dark">
        <h1 class="modal-title fs-5">Modifier Societe</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="on_close_modal_edit()"></button>
      </div>
      <div class="modal-body">
        <app-edit-societe *ngIf="societe_to_edit" (cb_edit_societe)="after_edit($event)" [societe_to_edit]="societe_to_edit"></app-edit-societe>
      </div>
    </div>
  </div>
</div>
  