
<form  [formGroup]="reactiveForm_add_societe " (ngSubmit)="onSubmit_add_societe ()" #form_add_societe ="ngForm" class="row">
<!-- nom_societe field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Nom </label>
      <input class="form-control" type="text"  formControlName="nom_societe"  placeholder="Christa SEN"  [ngClass]="{ 'is-invalid': submitted && f.nom_societe.errors }"/>
      <div *ngIf="submitted && f.nom_societe.errors" class="invalid-feedback">
          <div *ngIf="f.nom_societe.errors.required"> nom_societe est obligatoire </div>
      </div>
    </div>  
<!-- description_societe field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Description</label>
      <textarea class="form-control" type="text"  formControlName="description_societe"  placeholder="Societe de Gardiennage"  [ngClass]="{ 'is-invalid': submitted && f.description_societe.errors }">
        </textarea>
      <div *ngIf="submitted && f.description_societe.errors" class="invalid-feedback">
          <div *ngIf="f.description_societe.errors.required"> description_societe est obligatoire </div>
      </div>
    </div> 
</form>
<!-- vous pouvez valider votre formulaire n'importe ou -->

<div class="text-center m-2">
    <button type="button" class="btn btn-primary m-2" [disabled]="loading_add_societe "
        (click)="form_add_societe .ngSubmit.emit()">{{loading_add_societe ?"En cours ...":"Valider"}}</button>
    <button class="btn btn-secondary m-2" type="reset" (click)="onReset_add_societe ()">Vider</button>
</div>
