<!-- entete -->
<div class="d-flex align-items-center justify-content-between">
  <div class="fs-1">Les GardienNotes  - {{les_gardiens_notes.length}}</div>
  <div class="d-flex">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_add_gardien_note"  
    (click)="open_modal_add_note(modal_add_note)">Ajouter GardienNote</button>
  </div>
</div>
<!-- list -->
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
<th scope="col">Gardien</th>
<th scope="col">Note reçue</th>
<th scope="col">Date</th>
<th scope="col">Commentaire</th>
<th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let one_gardien_note of les_gardiens_notes">
<td>{{one_gardien_note.prenom_gardien+" "+one_gardien_note.nom_gardien}}</td>
<td>{{one_gardien_note.note}}</td>
<td>{{one_gardien_note.date_note}}</td>
<td>{{one_gardien_note.commentaire}}</td>
<td>
  <div ngbDropdown container="body">
    <button type="button"  ngbDropdownToggle class="btn p-0 hide-arrow" data-bs-toggle="dropdown">
      <i data-feather="more-vertical"></i>
    </button>
    <div ngbDropdownMenu>
      <a (click)="open_modal_edit_note(modal_edit_note,one_gardien_note)" ngbDropdownItem data-bs-toggle="modal"
        data-bs-target="#modal_edit_gardien_note">
        <i class="bx bx-edit-alt me-1"></i>
        Modifier
      </a>
      <a ngbDropdownItem href="javascript:void(0);"><i class="bx bx-trash me-1"></i>Voir plus</a>
      <a ngbDropdownItem href="javascript:void(0);"><i class="bx bx-trash me-1"></i>Supprimer</a>
    </div>
  </div>
</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- ajout Note agent -->
<ng-template #modal_add_note let-modal>
  <div class="modal-header">
    <h5 class="modal-title text-primary" id="exampleModalCenterTitle">Evaluer gardien</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-add-gardien-note (cb_add_gardien_note)="after_add($event)"></app-add-gardien-note>
  </div>
</ng-template>
<!-- modification -->
<ng-template #modal_edit_note let-modal>
  <div class="modal-header">
    <h5 class="modal-title text-primary" id="exampleModalCenterTitle">Modification note</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-edit-gardien-note *ngIf="gardien_note_to_edit" [gardien_note_to_edit]="gardien_note_to_edit"  (cb_edit_gardien_note)="after_edit($event)"> </app-edit-gardien-note>
  </div>
</ng-template>
  