<!-- entete -->
<div class="d-flex justify-content-between align-items-center ">
  <h2 class="m-0 text-primary">Les Conges  - {{les_conges.length}} </h2>
  <div class="d-flex align-items-center m-1">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_add_conges"
    (click)="open_modal(modal_add_conges)">Ajouter Conges
    <i class="bi bi-calendar-plus-fill ml-1"></i>  </button>
  </div>
</div>
<!-- list -->
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
<th scope="col">conges</th>
<th scope="col">Date de début</th>
<th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let one_conges of les_conges">
        <td>{{one_conges.prenom_gardien+" "+one_conges.nom_gardien}}</td>
        <td>{{one_conges.date_debut_conges | date : "dd-MM-yyyy"}}</td>
        <td>
          <div ngbDropdown container="body">
            <button type="button"  ngbDropdownToggle class="btn p-0 hide-arrow" data-bs-toggle="dropdown">
              <i data-feather="more-vertical"></i>
            </button>
            <div ngbDropdownMenu>
              <a (click)="open_modal_edit(modal_edit_conges,one_conges)" ngbDropdownItem data-bs-toggle="modal"
                data-bs-target="#modal_edit_conges">
                <i class="bx bx-edit-alt me-1"></i>
                Modifier
              </a>
              <a ngbDropdownItem href="javascript:void(0);" (click)="open_modal_delete(modal_delete_conges,one_conges)"><i class="bx bx-trash me-1"></i>Supprimer</a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- ajout -->
<ng-template #modal_add_conges let-modal>
  <div class="modal-header">
    <h5 class="modal-title text-primary" id="exampleModalCenterTitle">Nouveau conges</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-add-conges (cb_add_conges)="after_add($event)"></app-add-conges>
  </div>
</ng-template>
<!-- modification -->
<ng-template #modal_edit_conges let-modal>
  <div class="modal-header">
    <h5 class="modal-title text-primary" id="exampleModalCenterTitle">Modification conges</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-edit-conges *ngIf="conges_to_edit" (cb_edit_conges)="after_edit($event)" [conges_to_edit]="conges_to_edit"></app-edit-conges>
  </div>
</ng-template>
  <!-- Supprimer -->
<ng-template #modal_delete_conges let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Confirmation de la suppression</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{"Êtes-vous sûr de vouloir supprimer"}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn bg-danger  bg-darken-2 text-white" (click)="delete_conges()">
        {{ loading_delete_conges ? "En cours ..." : "Oui" }}
    </button>
  <button type="button"class="btn bg-warning bg-darken-2 text-white" (click)="modal.dismiss()">Non
    </button>
  </div>
</ng-template>