
<form  [formGroup]="reactiveForm_edit_utilisateur " (ngSubmit)="onSubmit_edit_utilisateur ()" #form_edit_utilisateur ="ngForm" class="row">

<!-- id_role field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Privilège</label>
      <select class="form-control" type="text"  formControlName="id_role"  placeholder="id_role"  [ngClass]="{ 'is-invalid': submitted && f.id_role.errors }">
        <option>Selectionner le privilege de l'utilisateur</option>
        <option *ngFor="let un_role of api.les_roles_des_utilisateurs" value="{{un_role.id_role}}"> {{un_role.libelle_role}} </option>
        </select>
      <div *ngIf="submitted && f.id_role.errors" class="invalid-feedback">
          <div *ngIf="f.id_role.errors.required"> id_role est obligatoire </div>
      </div>
    </div>
</form>
<!-- vous pouvez valider votre formulaire n'importe ou -->

<div class="text-center m-2">
    <button type="button" class="btn btn-primary m-2" [disabled]="loading_edit_utilisateur "
        (click)="form_edit_utilisateur .ngSubmit.emit()">{{loading_edit_utilisateur ?"En cours ...":"Valider"}}</button>
    <button class="btn btn-secondary m-2" type="reset" (click)="onReset_edit_utilisateur ()">Vider</button>
</div>
