
<form [formGroup]="reactiveForm_edit_utilisateur" (ngSubmit)="onSubmit_edit_utilisateur()"
    #form_edit_utilisateur="ngForm" class="row">
    <!-- ancien_password_utilisateur field avec un control de validite -->
    <div class="form-group col-sm-12">
        <label>Ancien Mot de passe <span class="text-danger fs-1">*</span></label>
        <div class="input-group input-group-merge form-password-toggle">
            <input class="form-control" [type]="passwordTextType ? 'text' : 'password'"
                formControlName="ancien_password_utilisateur" placehanciener="****" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.ancien_password_utilisateur.errors }" />
            <div class="input-group-append">
                <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                  'icon-eye-off': passwordTextType,
                   'icon-eye': !passwordTextType}" (click)="togglePasswordTextType()"></i>
                </span>
            </div>
        </div>
        <div *ngIf="submitted && f.ancien_password_utilisateur.errors" class="invalid-feedback">
            <div *ngIf="f.ancien_password_utilisateur.errors.required"> Mot de passe est obligatoire </div>
        </div>
    </div>
    <!-- new_ancien_password_utilisateur field avec un control de validite -->
    <div class="form-group col-sm-6">
        <label>Nouveau Mot de passe <span class="text-danger fs-1">*</span></label>
        <div class="input-group input-group-merge form-password-toggle">
            <input class="form-control" [type]="passwordTextType ? 'text' : 'password'"
                formControlName="new_password_utilisateur" placehanciener="****" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.new_password_utilisateur.errors }" />
            <div class="input-group-append">
                <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                  'icon-eye-off': passwordTextType,
                   'icon-eye': !passwordTextType}" (click)="togglePasswordTextType()"></i>
                </span>
            </div>
        </div>
        <div *ngIf="submitted && f.new_password_utilisateur.errors" class="invalid-feedback">
            <div *ngIf="f.new_password_utilisateur.errors.required"> Mot de passe est obligatoire </div>
        </div>
    </div>
    <!-- confirmation_new_password_utilisateur field avec un control de validite -->
    <div class="form-group col-sm-6">
        <label>Confirmation du nouveau Mot de passe <span class="text-danger fs-1">*</span></label>
        <div class="input-group input-group-merge form-password-toggle">
            <input class="form-control" [type]="passwordTextType ? 'text' : 'password'"
                formControlName="confirmation_new_password_utilisateur" placehanciener="****" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.confirmation_new_password_utilisateur.errors }" />
            <div class="input-group-append">
                <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                  'icon-eye-off': passwordTextType,
                   'icon-eye': !passwordTextType}" (click)="togglePasswordTextType()"></i>
                </span>
            </div>
        </div>
        <div *ngIf="submitted && f.confirmation_new_password_utilisateur.errors" class="invalid-feedback">
            <div *ngIf="f.confirmation_new_password_utilisateur.errors.required"> Mot de passe est obligatoire </div>
            <div *ngIf="f.confirmation_new_password_utilisateur.errors.conformite"> Les mots de passe ne sont pas
                conformes </div>
        </div>
    </div>
</form>
<!-- vous pouvez valider votre questionnaire n\'importe ou -->

<div class="text-center m-2">
    <button type="button" class="btn bg-primary bg-darken-2 m-2 text-white" [disabled]="
    loading_edit_password|| !check_change()" (click)="form_edit_utilisateur.ngSubmit.emit()">
        {{ loading_edit_password ? "En cours ..." : "Valider" }}
    </button>
</div>