
<form  [formGroup]="reactiveForm_add_indemnite " (ngSubmit)="onSubmit_add_indemnite ()" #form_add_indemnite ="ngForm" class="row">
<!-- nature_indemnite field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Nature</label>
      <input class="form-control" type="text"  formControlName="nature_indemnite"  placeholder="nature_indemnite"  [ngClass]="{ 'is-invalid': submitted && f.nature_indemnite.errors }"/>
      <div *ngIf="submitted && f.nature_indemnite.errors" class="invalid-feedback">
          <div *ngIf="f.nature_indemnite.errors.required"> nature_indemnite est obligatoire </div>
      </div>
    </div>  
</form>
<!-- vous pouvez valider votre formulaire n'importe ou -->
<div class="text-center m-2">
    <button type="button" class="btn btn-primary m-2" [disabled]="loading_add_indemnite "
        (click)="form_add_indemnite .ngSubmit.emit()">{{loading_add_indemnite ?"En cours ...":"Valider"}}</button>
    <button class="btn btn-secondary m-2" type="reset" (click)="onReset_add_indemnite ()">Vider</button>
</div>
