
<form  [formGroup]="reactiveForm_add_gardien " (ngSubmit)="onSubmit_add_gardien ()" #form_add_gardien ="ngForm" class="row">
  <!-- id_gardien field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >id_gardien</label>
      <input class="form-control" type="text"  formControlName="id_gardien"  placeholder="id_gardien"  [ngClass]="{ 'is-invalid': submitted && f.id_gardien.errors }"/>
      <div *ngIf="submitted && f.id_gardien.errors" class="invalid-feedback">
          <div *ngIf="f.id_gardien.errors.required"> id_gardien est obligatoire </div>
      </div>
    </div>  
<!-- id_utilisateur field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >id_utilisateur</label>
      <input class="form-control" type="text"  formControlName="id_utilisateur"  placeholder="id_utilisateur"  [ngClass]="{ 'is-invalid': submitted && f.id_utilisateur.errors }"/>
      <div *ngIf="submitted && f.id_utilisateur.errors" class="invalid-feedback">
          <div *ngIf="f.id_utilisateur.errors.required"> id_utilisateur est obligatoire </div>
      </div>
    </div>  
<!-- id_societe field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >id_societe</label>
      <input class="form-control" type="text"  formControlName="id_societe"  placeholder="id_societe"  [ngClass]="{ 'is-invalid': submitted && f.id_societe.errors }"/>
      <div *ngIf="submitted && f.id_societe.errors" class="invalid-feedback">
          <div *ngIf="f.id_societe.errors.required"> id_societe est obligatoire </div>
      </div>
    </div>  
<!-- matricule_gardien field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >matricule_gardien</label>
      <input class="form-control" type="text"  formControlName="matricule_gardien"  placeholder="matricule_gardien"  [ngClass]="{ 'is-invalid': submitted && f.matricule_gardien.errors }"/>
      <div *ngIf="submitted && f.matricule_gardien.errors" class="invalid-feedback">
          <div *ngIf="f.matricule_gardien.errors.required"> matricule_gardien est obligatoire </div>
      </div>
    </div>  
<!-- nom_gardien field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >nom_gardien</label>
      <input class="form-control" type="text"  formControlName="nom_gardien"  placeholder="nom_gardien"  [ngClass]="{ 'is-invalid': submitted && f.nom_gardien.errors }"/>
      <div *ngIf="submitted && f.nom_gardien.errors" class="invalid-feedback">
          <div *ngIf="f.nom_gardien.errors.required"> nom_gardien est obligatoire </div>
      </div>
    </div>  
<!-- prenom_gardien field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >prenom_gardien</label>
      <input class="form-control" type="text"  formControlName="prenom_gardien"  placeholder="prenom_gardien"  [ngClass]="{ 'is-invalid': submitted && f.prenom_gardien.errors }"/>
      <div *ngIf="submitted && f.prenom_gardien.errors" class="invalid-feedback">
          <div *ngIf="f.prenom_gardien.errors.required"> prenom_gardien est obligatoire </div>
      </div>
    </div>  
<!-- date_naissance_gardien field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >date_naissance_gardien</label>
      <input class="form-control" type="text"  formControlName="date_naissance_gardien"  placeholder="date_naissance_gardien"  [ngClass]="{ 'is-invalid': submitted && f.date_naissance_gardien.errors }"/>
      <div *ngIf="submitted && f.date_naissance_gardien.errors" class="invalid-feedback">
          <div *ngIf="f.date_naissance_gardien.errors.required"> date_naissance_gardien est obligatoire </div>
      </div>
    </div>  
<!-- lieu_naissance_gardien field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >lieu_naissance_gardien</label>
      <input class="form-control" type="text"  formControlName="lieu_naissance_gardien"  placeholder="lieu_naissance_gardien"  [ngClass]="{ 'is-invalid': submitted && f.lieu_naissance_gardien.errors }"/>
      <div *ngIf="submitted && f.lieu_naissance_gardien.errors" class="invalid-feedback">
          <div *ngIf="f.lieu_naissance_gardien.errors.required"> lieu_naissance_gardien est obligatoire </div>
      </div>
    </div>  
<!-- telephone_gardien field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >telephone_gardien</label>
      <input class="form-control" type="text"  formControlName="telephone_gardien"  placeholder="telephone_gardien"  [ngClass]="{ 'is-invalid': submitted && f.telephone_gardien.errors }"/>
      <div *ngIf="submitted && f.telephone_gardien.errors" class="invalid-feedback">
          <div *ngIf="f.telephone_gardien.errors.required"> telephone_gardien est obligatoire </div>
      </div>
    </div>  
<!-- email_gardien field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >email_gardien</label>
      <input class="form-control" type="text"  formControlName="email_gardien"  placeholder="email_gardien"  [ngClass]="{ 'is-invalid': submitted && f.email_gardien.errors }"/>
      <div *ngIf="submitted && f.email_gardien.errors" class="invalid-feedback">
          <div *ngIf="f.email_gardien.errors.required"> email_gardien est obligatoire </div>
      </div>
    </div>  
<!-- statut_gardien field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >statut_gardien</label>
      <input class="form-control" type="text"  formControlName="statut_gardien"  placeholder="statut_gardien"  [ngClass]="{ 'is-invalid': submitted && f.statut_gardien.errors }"/>
      <div *ngIf="submitted && f.statut_gardien.errors" class="invalid-feedback">
          <div *ngIf="f.statut_gardien.errors.required"> statut_gardien est obligatoire </div>
      </div>
    </div>  
<!-- created_at field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >created_at</label>
      <input class="form-control" type="text"  formControlName="created_at"  placeholder="created_at"  [ngClass]="{ 'is-invalid': submitted && f.created_at.errors }"/>
      <div *ngIf="submitted && f.created_at.errors" class="invalid-feedback">
          <div *ngIf="f.created_at.errors.required"> created_at est obligatoire </div>
      </div>
    </div>  
<!-- updated_at field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >updated_at</label>
      <input class="form-control" type="text"  formControlName="updated_at"  placeholder="updated_at"  [ngClass]="{ 'is-invalid': submitted && f.updated_at.errors }"/>
      <div *ngIf="submitted && f.updated_at.errors" class="invalid-feedback">
          <div *ngIf="f.updated_at.errors.required"> updated_at est obligatoire </div>
      </div>
    </div>  
</form>
<!-- vous pouvez valider votre formulaire n'importe ou -->

<div class="text-center m-2">
    <button type="button" class="btn btn-primary m-2" [disabled]="loading_add_gardien "
        (click)="form_add_gardien .ngSubmit.emit()">{{loading_add_gardien ?"En cours ...":"Valider"}}</button>
    <button class="btn btn-secondary m-2" type="reset" (click)="onReset_add_gardien ()">Vider</button>
</div>
