
<form  [formGroup]="reactiveForm_add_gardien " (ngSubmit)="onSubmit_add_gardien ()" #form_add_gardien ="ngForm" class="row">
<!-- prenom_gardien field avec un control de validite -->
  <div class="form-group col-sm-6">
    <label >Prénom</label>
    <input class="form-control" type="text"  formControlName="prenom_gardien"  placeholder="Souleymane"  [ngClass]="{ 'is-invalid': submitted && f.prenom_gardien.errors }"/>
    <div *ngIf="submitted && f.prenom_gardien.errors" class="invalid-feedback">
        <div *ngIf="f.prenom_gardien.errors.required"> prenom_gardien est obligatoire </div>
    </div>
  </div>  
  <!-- nom_gardien field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Nom</label>
      <input class="form-control" type="text"  formControlName="nom_gardien"  placeholder="SENE"  [ngClass]="{ 'is-invalid': submitted && f.nom_gardien.errors }"/>
      <div *ngIf="submitted && f.nom_gardien.errors" class="invalid-feedback">
          <div *ngIf="f.nom_gardien.errors.required"> nom_gardien est obligatoire </div>
      </div>
    </div>  

<!-- date_naissance_gardien field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Date de naissance</label>
      <input class="form-control" type="date"  formControlName="date_naissance_gardien"  placeholder="date_naissance_gardien"  [ngClass]="{ 'is-invalid': submitted && f.date_naissance_gardien.errors }"/>
      <div *ngIf="submitted && f.date_naissance_gardien.errors" class="invalid-feedback">
          <div *ngIf="f.date_naissance_gardien.errors.required"> date_naissance_gardien est obligatoire </div>
      </div>
    </div>  
<!-- lieu_naissance_gardien field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Lieu de naissance</label>
      <input class="form-control" type="text"  formControlName="lieu_naissance_gardien"  placeholder="Dakar"  [ngClass]="{ 'is-invalid': submitted && f.lieu_naissance_gardien.errors }"/>
      <div *ngIf="submitted && f.lieu_naissance_gardien.errors" class="invalid-feedback">
          <div *ngIf="f.lieu_naissance_gardien.errors.required"> lieu_naissance_gardien est obligatoire </div>
      </div>
    </div>  
<!-- date_insertion_gardien field avec un control de validite -->
<div class="form-group col-sm-6">
  <label >Date d'insertion</label>
  <input class="form-control" type="date"  formControlName="date_insertion_gardien"  placeholder="date_insertion_gardien"  [ngClass]="{ 'is-invalid': submitted && f.date_insertion_gardien.errors }"/>
  <div *ngIf="submitted && f.date_insertion_gardien.errors" class="invalid-feedback">
      <div *ngIf="f.date_insertion_gardien.errors.required"> date_insertion_gardien est obligatoire </div>
  </div>
</div>
<!-- telephone_gardien field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Numéro de téléphone</label>
      <input class="form-control" type="text"  formControlName="telephone_gardien"  placeholder="77 550 21 23"  [ngClass]="{ 'is-invalid': submitted && f.telephone_gardien.errors }"/>
      <div *ngIf="submitted && f.telephone_gardien.errors" class="invalid-feedback">
          <div *ngIf="f.telephone_gardien.errors.required"> telephone_gardien est obligatoire </div>
      </div>
    </div>  
<!-- email_gardien field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Email</label>
      <input class="form-control" type="text"  formControlName="email_gardien"  placeholder="souleymane@gmail.com"  [ngClass]="{ 'is-invalid': submitted && f.email_gardien.errors }"/>
      <div *ngIf="submitted && f.email_gardien.errors" class="invalid-feedback">
          <div *ngIf="f.email_gardien.errors.required"> email_gardien est obligatoire </div>
      </div>
    </div>  
  
</form>
<!-- vous pouvez valider votre formulaire n'importe ou -->

<div class="text-center m-2">
    <button type="button" class="btn btn-primary m-2" [disabled]="loading_add_gardien "
        (click)="form_add_gardien .ngSubmit.emit()">{{loading_add_gardien ?"En cours ...":"Valider"}}</button>
    <button class="btn btn-secondary m-2" type="reset" (click)="onReset_add_gardien ()">Vider</button>
</div>
