
<form  [formGroup]="reactiveForm_add_conges " (ngSubmit)="onSubmit_add_conges ()" #form_add_conges ="ngForm" class="row">
  
<!-- id_gardien field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Gardien</label>
      <select class="form-control" type="text"  formControlName="id_gardien"  placeholder="id_gardien"  [ngClass]="{ 'is-invalid': submitted && f.id_gardien.errors }">
        <option value="{{one_gardien.id_gardien}}" *ngFor="let one_gardien of les_gardiens"> {{one_gardien.prenom_gardien+" "+one_gardien.nom_gardien}} </option>
        </select>
      <div *ngIf="submitted && f.id_gardien.errors" class="invalid-feedback">
          <div *ngIf="f.id_gardien.errors.required"> id_gardien est obligatoire </div>
      </div>
    </div>  
<!-- date_debut_conges field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Date de debut</label>
      <input class="form-control" type="date"  formControlName="date_debut_conges"  placeholder="date_debut_conges"  [ngClass]="{ 'is-invalid': submitted && f.date_debut_conges.errors }"/>
      <div *ngIf="submitted && f.date_debut_conges.errors" class="invalid-feedback">
          <div *ngIf="f.date_debut_conges.errors.required"> date_debut_conges est obligatoire </div>
      </div>
    </div>  
<!-- date_fin_conges field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Date de fin</label>
      <input class="form-control" type="date"  formControlName="date_fin_conges"  placeholder="date_fin_conges"  [ngClass]="{ 'is-invalid': submitted && f.date_fin_conges.errors }"/>
      <div *ngIf="submitted && f.date_fin_conges.errors" class="invalid-feedback">
          <div *ngIf="f.date_fin_conges.errors.required"> date_fin_conges est obligatoire </div>
      </div>
    </div>  
<!-- date_demande_conges field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Date de demande</label>
      <input class="form-control" type="date"  formControlName="date_demande_conges"  placeholder="date_demande_conges"  [ngClass]="{ 'is-invalid': submitted && f.date_demande_conges.errors }"/>
      <div *ngIf="submitted && f.date_demande_conges.errors" class="invalid-feedback">
          <div *ngIf="f.date_demande_conges.errors.required"> date_demande_conges est obligatoire </div>
      </div>
    </div>   
</form>
<!-- vous pouvez valider votre formulaire n'importe ou -->

<div class="text-center m-2">
    <button type="button" class="btn btn-primary m-2" [disabled]="loading_add_conges "
        (click)="form_add_conges .ngSubmit.emit()">{{loading_add_conges ?"En cours ...":"Valider"}}</button>
    <button class="btn btn-secondary m-2" type="reset" (click)="onReset_add_conges ()">Vider</button>
</div>
