
<div class="alert alert-warning text-center">
  <p>Tous les champs marqués d'un astérisque (*) sont obligatoires.</p>
</div>
<form  [formGroup]="reactiveForm_add_conges " (ngSubmit)="onSubmit_add_conges ()" #form_add_conges ="ngForm" class="row"> 
<!-- id_gardien field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Gardien <span class="text-danger fs-1">*</span></label>
      <select class="form-control" type="text"  formControlName="id_gardien"  placeholder="id_gardien"  [ngClass]="{ 'is-invalid': submitted && f.id_gardien.errors }">
        <option value="{{one_gardien.id_gardien}}" *ngFor="let one_gardien of les_gardiens"> {{one_gardien.prenom_gardien+" "+one_gardien.nom_gardien}} </option>
        </select>
      <div *ngIf="submitted && f.id_gardien.errors" class="invalid-feedback">
          <div *ngIf="f.id_gardien.errors.required"> Le gardien est obligatoire </div>
      </div>
    </div>  
<!-- date_debut_conges field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Date de debut<span class="text-danger fs-1">*</span></label>
      <input class="form-control" type="date"  formControlName="date_debut_conges"  placeholder="date_debut_conges"  [ngClass]="{ 'is-invalid': submitted && f.date_debut_conges.errors }"/>
      <div *ngIf="submitted && f.date_debut_conges.errors" class="invalid-feedback">
          <div *ngIf="f.date_debut_conges.errors.required"> La date de début est obligatoire </div>
      </div>
    </div>    
</form>
<!-- vous pouvez valider votre formulaire n'importe ou -->

<div class="text-center m-2">
    <button type="button" class="btn btn-primary m-2" [disabled]="loading_add_conges "
        (click)="form_add_conges .ngSubmit.emit()">{{loading_add_conges ?"En cours ...":"Valider"}}</button>
    <button class="btn btn-secondary m-2" type="reset" (click)="onReset_add_conges ()">Vider</button>
</div>
