
<form  [formGroup]="reactiveForm_add_societe_gardien " (ngSubmit)="onSubmit_add_societe_gardien ()" #form_add_societe_gardien ="ngForm" class="row">
  <!-- id_societe_gardien field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >id_societe_gardien</label>
      <input class="form-control" type="text"  formControlName="id_societe_gardien"  placeholder="id_societe_gardien"  [ngClass]="{ 'is-invalid': submitted && f.id_societe_gardien.errors }"/>
      <div *ngIf="submitted && f.id_societe_gardien.errors" class="invalid-feedback">
          <div *ngIf="f.id_societe_gardien.errors.required"> id_societe_gardien est obligatoire </div>
      </div>
    </div>  
<!-- id_societe field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >id_societe</label>
      <input class="form-control" type="text"  formControlName="id_societe"  placeholder="id_societe"  [ngClass]="{ 'is-invalid': submitted && f.id_societe.errors }"/>
      <div *ngIf="submitted && f.id_societe.errors" class="invalid-feedback">
          <div *ngIf="f.id_societe.errors.required"> id_societe est obligatoire </div>
      </div>
    </div>  
<!-- id_gardien field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >id_gardien</label>
      <input class="form-control" type="text"  formControlName="id_gardien"  placeholder="id_gardien"  [ngClass]="{ 'is-invalid': submitted && f.id_gardien.errors }"/>
      <div *ngIf="submitted && f.id_gardien.errors" class="invalid-feedback">
          <div *ngIf="f.id_gardien.errors.required"> id_gardien est obligatoire </div>
      </div>
    </div>  
<!-- date_affectation field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >date_affectation</label>
      <input class="form-control" type="text"  formControlName="date_affectation"  placeholder="date_affectation"  [ngClass]="{ 'is-invalid': submitted && f.date_affectation.errors }"/>
      <div *ngIf="submitted && f.date_affectation.errors" class="invalid-feedback">
          <div *ngIf="f.date_affectation.errors.required"> date_affectation est obligatoire </div>
      </div>
    </div>  
<!-- created_at field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >created_at</label>
      <input class="form-control" type="text"  formControlName="created_at"  placeholder="created_at"  [ngClass]="{ 'is-invalid': submitted && f.created_at.errors }"/>
      <div *ngIf="submitted && f.created_at.errors" class="invalid-feedback">
          <div *ngIf="f.created_at.errors.required"> created_at est obligatoire </div>
      </div>
    </div>  
<!-- updated_at field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >updated_at</label>
      <input class="form-control" type="text"  formControlName="updated_at"  placeholder="updated_at"  [ngClass]="{ 'is-invalid': submitted && f.updated_at.errors }"/>
      <div *ngIf="submitted && f.updated_at.errors" class="invalid-feedback">
          <div *ngIf="f.updated_at.errors.required"> updated_at est obligatoire </div>
      </div>
    </div>  
</form>
<!-- vous pouvez valider votre formulaire n'importe ou -->

<div class="text-center m-2">
    <button type="button" class="btn btn-primary m-2" [disabled]="loading_add_societe_gardien "
        (click)="form_add_societe_gardien .ngSubmit.emit()">{{loading_add_societe_gardien ?"En cours ...":"Valider"}}</button>
    <button class="btn btn-secondary m-2" type="reset" (click)="onReset_add_societe_gardien ()">Vider</button>
</div>
