<!-- entete -->
<div class="d-flex align-items-center justify-content-between">
  <div class="fs-1">Les SocieteGardiens  - {{les_societe_gardiens.length}}</div>
  <div class="d-flex">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_add_societe_gardien">Ajouter SocieteGardien</button>
  </div>
</div>
<!-- list -->
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id_societe_gardien</th>
<th scope="col">id_societe</th>
<th scope="col">id_gardien</th>
<th scope="col">date_affectation</th>
<th scope="col">created_at</th>
<th scope="col">updated_at</th><th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let one_societe_gardien of les_societe_gardiens">
        <td>{{one_societe_gardien.id_societe_gardien}}</td>
<td>{{one_societe_gardien.id_societe}}</td>
<td>{{one_societe_gardien.id_gardien}}</td>
<td>{{one_societe_gardien.date_affectation}}</td>
<td>{{one_societe_gardien.created_at}}</td>
<td>{{one_societe_gardien.updated_at}}</td><td>
  <div class="dropdown">
    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">actions</button>
    <div class="dropdown-menu">
      <a (click)="on_click_edit(one_societe_gardien)" class="dropdown-item" data-bs-toggle="modal"
        data-bs-target="#modal_edit_societe_gardien">
        <i class="bx bx-edit-alt me-1"></i>
        Modifier
      </a>
      <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i>Voir plus</a>
      <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i>Supprimer</a>
    </div>
  </div>
</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- ajout -->
<div class="modal fade" id="modal_add_societe_gardien" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
          <div class="modal-header " data-bs-theme="dark">
              <h1 class="modal-title fs-5">Ajouter SocieteGardien</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <app-add-societe-gardien (cb_add_societe_gardien)="after_add($event)"></app-add-societe-gardien>
          </div>
      </div>
  </div>
</div>
<!-- modification -->
<div class="modal fade" id="modal_edit_societe_gardien" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header" data-bs-theme="dark">
        <h1 class="modal-title fs-5">Modifier SocieteGardien</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="on_close_modal_edit()"></button>
      </div>
      <div class="modal-body">
        <app-edit-societe-gardien *ngIf="societe_gardien_to_edit" (cb_edit_societe_gardien)="after_edit($event)" [societe_gardien_to_edit]="societe_gardien_to_edit"></app-edit-societe-gardien>
      </div>
    </div>
  </div>
</div>
  