<form  [formGroup]="reactiveForm_edit_utilisateur " (ngSubmit)="onSubmit_edit_utilisateur ()" #form_edit_utilisateur ="ngForm" class="row">	
    <!-- nom_utilisateur field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Nom</label>
      <input class="form-control" type="text"  formControlName="nom_utilisateur"  placeholder="nom_utilisateur" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nom_utilisateur.errors }"/>
      <div *ngIf="submitted && f.nom_utilisateur.errors" class="invalid-feedback">
          <div *ngIf="f.nom_utilisateur.errors.required"> nom_utilisateur est obligatoire </div>
      </div>
    </div>		
    <!-- prenom_utilisateur field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Prénom</label>
      <input class="form-control" type="text"  formControlName="prenom_utilisateur"  placeholder="prenom_utilisateur" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.prenom_utilisateur.errors }"/>
      <div *ngIf="submitted && f.prenom_utilisateur.errors" class="invalid-feedback">
          <div *ngIf="f.prenom_utilisateur.errors.required"> prenom_utilisateur est obligatoire </div>
      </div>
    </div>		
    <!-- date_naissance_utilisateur field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Date de naissance</label>
      <input class="form-control" type="date"  formControlName="date_naissance_utilisateur"  placeholder="date_naissance_utilisateur" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.date_naissance_utilisateur.errors }"/>
      <div *ngIf="submitted && f.date_naissance_utilisateur.errors" class="invalid-feedback">
          <div *ngIf="f.date_naissance_utilisateur.errors.required"> date_naissance_utilisateur est obligatoire </div>
      </div>
    </div>		
    <!-- lieu_naissance_utilisateur field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Lieu de naissance</label>
      <input class="form-control" type="text"  formControlName="lieu_naissance_utilisateur"  placeholder="lieu_naissance_utilisateur" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lieu_naissance_utilisateur.errors }"/>
      <div *ngIf="submitted && f.lieu_naissance_utilisateur.errors" class="invalid-feedback">
          <div *ngIf="f.lieu_naissance_utilisateur.errors.required"> lieu_naissance_utilisateur est obligatoire </div>
      </div>
    </div>		
    <!-- date_insertion_utilisateur field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Date d'insertion</label>
      <input class="form-control" type="date"  formControlName="date_insertion_utilisateur"  placeholder="date_insertion_utilisateur" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.date_insertion_utilisateur.errors }"/>
      <div *ngIf="submitted && f.date_insertion_utilisateur.errors" class="invalid-feedback">
          <div *ngIf="f.date_insertion_utilisateur.errors.required"> date_insertion_utilisateur est obligatoire </div>
      </div>
    </div>		
    <!-- telephone_utilisateur field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Téléphone</label>
      <input class="form-control" type="text"  formControlName="telephone_utilisateur"  placeholder="telephone_utilisateur" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.telephone_utilisateur.errors }"/>
      <div *ngIf="submitted && f.telephone_utilisateur.errors" class="invalid-feedback">
          <div *ngIf="f.telephone_utilisateur.errors.required"> telephone_utilisateur est obligatoire </div>
      </div>
    </div>			
</form>
<!-- vous pouvez valider votre formulaire n\'importe ou -->

<div class="text-center m-2">
    <button type="button" class="btn btn-primary m-2" [disabled]="loading_edit_utilisateur || !check_change()" (click)="form_edit_utilisateur.ngSubmit.emit()">
        {{loading_edit_utilisateur ?"En cours ...":"Valider"}}
    </button>
</div>

