<!-- entete -->
<div class="d-flex align-items-center justify-content-between">
  <div class="fs-1">Les Utilisateurs - {{les_utilisateurs.length}}</div>
  <div class="d-flex">
    <!-- bouton adapté au template -->
    <button class="btn btn-primary" (click)="open_modal(modal_add_utilisateur)">Ajouter
      Utilisateur</button>
    <!-- 
      version bootstrap
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_add_utilisateur">Ajouter
      Utilisateur</button> -->
  </div>
</div>
<!-- list -->
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Email</th>
        <th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let one_utilisateur of les_utilisateurs">
        <td>{{one_utilisateur.nom_utilisateur+" "+one_utilisateur.prenom_utilisateur}}</td>
        <td>{{one_utilisateur.email_utilisateur}}</td>
        <td>
          <div  ngbDropdown container="body">
            <button type="button" class="btn btn-outline-primary" ngbDropdownToggle data-bs-toggle="dropdown">actions</button>
            <div  ngbDropdownMenu>
              <a (click)="open_modal_edit(modal_edit_utilisateur,one_utilisateur)" class="btn btn-outline-primary" data-bs-toggle="modal"
                data-bs-target="#modal_edit_utilisateur">
                <i class="bx bx-edit-alt me-1"></i>
                Modifier
              </a>
              <a class="btn btn-outline-primary" href="javascript:void(0);"><i class="bx bx-trash me-1"></i>Voir plus</a>
              <a class="btn btn-outline-primary" href="javascript:void(0);"><i class="bx bx-trash me-1"></i>Supprimer</a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal ajout adapté au template -->
<ng-template #modal_add_utilisateur let-modal>
  <div class="modal-header">
    <h5 class="modal-title text-primary" id="exampleModalCenterTitle">Nouvel utilisateur</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <app-add-utilisateur (cb_add_utilisateur)="after_add($event)"></app-add-utilisateur>
  </div>
</ng-template>

<!-- modification -->
<ng-template #modal_edit_utilisateur let-modal>
  <div class="modal-header" data-bs-theme="dark">
    <h1 class="modal-title fs-5">Modifier Utilisateur</h1>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-edit-utilisateur *ngIf="utilisateur_to_edit" (cb_edit_utilisateur)="after_edit($event)"
     [utilisateur_to_edit]="utilisateur_to_edit"></app-edit-utilisateur>
  </div>
</ng-template>

<!-- Suppression -->