<!-- entete -->
<div class="d-flex justify-content-between align-items-center ">
  <h2 class="m-0 text-primary">Les Utilisateurs - {{les_utilisateurs.length}}</h2>
  <div class="d-flex align-items-center m-1">
    <!-- bouton adapté au template -->
    <button class="btn btn-primary mt-1" (click)="open_modal(modal_add_utilisateur)">Ajouter
      Utilisateur
      <span [data-feather]="'user-plus'"> </span>
    </button>
  </div>
</div>
<!-- list -->
<!-- <div class="row">
  <div class="col-12 col-sm-6 col-md-6" *ngFor="let one_utilisateur of api.les_utilisateurs">
    <div class="card">
      <div class="card-body">
        <div class="text-center">
          <img src="{{path_backend + one_utilisateur.image_utilisateur}}" class="img-fluid rounded image" alt="...">
        </div>
        <div class="">
          <h4 class="card-title border-left-primary pl-2 my-1">{{one_utilisateur.prenom_utilisateur+" "+one_utilisateur.nom_utilisateur}}</h4>

          <span [data-feather]="'phone'"></span>
          <span>{{one_utilisateur.telephone_utilisateur}} </span>
          <span [data-feather]="'mail'" class="ml-1"></span>
          {{one_utilisateur.email_utilisateur}}
          <div class="mt-1">
            <span class="text-secondary border-right-primary m-1">{{one_utilisateur.libelle_role}} </span>
            <span class= "{{one_utilisateur.statut_compte == 'Inactif' ? 'badge badge-glow badge-danger': 'badge badge-glow badge-success'}} "> 
              {{one_utilisateur.statut_compte}}
            </span>
          </div>
          <div class="mt-2">
            <a *ngIf="one_utilisateur.statut_utilisateur==0" class="btn btn-outline-warning" 
            (click)="activer_compte(one_utilisateur)" rippleEffect>Activer</a>
            <a *ngIf="one_utilisateur.statut_utilisateur==1" class="btn btn-outline-danger ml-1" 
            (click)="open_modal_desactiver_compte(modal_desactiver_compte,one_utilisateur)" rippleEffect>Désactiver </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="card shadow p-3 bg-body rounded "> -->
  <section id="ngx-datatable-multi-purpose">
    <ngx-datatable class="bootstrap core-bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="40"
      [rowHeight]="58" [footerHeight]="50" rowHeight="auto"[limit]="10" [scrollbarH]="true"[rows]="les_utilisateurs">
      <ngx-datatable-column name="Utilisateurs" [width]="180">
        <ng-template  let-row="row" ngx-datatable-cell-template>
          <div class="d-flex align-items-center">
            <div>
              <img class="rounded-circle mr-1" [src]="path_backend + row.image_utilisateur" height="32" width="32"
                alt="datatable-avatar" />
            </div>
            <div class="cell-line-height">
              <p class="font-medium-1 font-weight-bold line-height-1 mb-25">
                {{ row.prenom_utilisateur }} {{ row.nom_utilisateur }}
              </p>
              <span [data-feather]="'phone'"></span>
              <span class="text-muted font-small-2">{{ row.telephone_utilisateur}}</span>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Email" prop="email_utilisateur" [width]="100"></ngx-datatable-column>
      <ngx-datatable-column name="Poste" prop="id_role" [width]="100">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="badge badge-pill badge-light-primary">
            {{
            row.id_role == 1
            ? 'Administrateur'
            : row.id_role == 2
            ? 'Directeur/Gérant'
            : row.id_role == 3
            ? 'Assistant Secretaire'
            : row.id_role == 4
            ? 'Superviseur'
            : row.id_role == 5
            ? 'Responsable Financier'
            : 'Utilisateur simple'
            }}
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Statut " prop="statut_utilisateur" [width]="80">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span
            class="{{row.statut_compte == 'Inactif' ? 'badge badge-pill badge-light-danger': 'badge badge-pill badge-light-success'}} ">
            {{row.statut_compte}}
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Actions" [width]="100" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="d-flex align-items-center">
            <div ngbDropdown container="body">
              <a ngbDropdownToggle href="javascript:void(0);" class="hide-arrow" id="dropdownBrowserState"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i data-feather="more-vertical" class="text-primary cursor-pointer mr-50"></i>
              </a>
              <div ngbDropdownMenu class="dropdown-menu-right" aria-labelledby="dropdownBrowserState">
                <a   *ngIf="row.statut_utilisateur === 0" ngbDropdownItem class="d-flex align-items-center"
                (click)="activer_compte(row)"><i data-feather="user-check" class="mr-50"></i> Activer</a>
                <a  *ngIf="row.statut_utilisateur === 1"  ngbDropdownItem class="d-flex align-items-center"
                (click)="open_modal_desactiver_compte(modal_desactiver_compte,row)"><i data-feather="user-x"
                    class="mr-50"></i> Désactiver</a>
              </div>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </section>
<!-- </div> -->


<!-- Modal ajout adapté au template -->
<ng-template #modal_add_utilisateur let-modal>
  <div class="modal-header">
    <h5 class="modal-title text-primary" id="exampleModalCenterTitle">Nouvel utilisateur</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <app-add-utilisateur (cb_add_utilisateur)="after_add($event)"></app-add-utilisateur>
  </div>
</ng-template>

<!-- desactiver compte -->
<ng-template #modal_desactiver_compte let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Désactivation du compte</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{"Êtes-vous sûr de vouloir désactiver ce compte ? "}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn bg-danger  bg-darken-2 text-white" (click)="desactiver_compte()">
      {{ loading_desactiver_compte ? "En cours ..." : "Oui" }}
    </button>
    <button type="button" class="btn bg-warning bg-darken-2 text-white" (click)="modal.dismiss()">Non
    </button>
  </div>
</ng-template>

<!-- Suppression -->