
<form  [formGroup]="reactiveForm_add_note " (ngSubmit)="onSubmit_add_note ()" #form_add_note ="ngForm" class="row">
  <!-- id_gardien field avec un control de validite -->
  <div class="form-group col-sm-6">
    <label >Gardien</label>
    <select class="form-control" type="text"  formControlName="id_gardien"  placeholder="id_gardien"  [ngClass]="{ 'is-invalid': submitted && f.id_gardien.errors }">
      <option value="" disabled>Selectionnez le gardien</option>
      <option value="{{one_gardien.id_gardien}}" *ngFor="let one_gardien of les_gardiens"> {{one_gardien.prenom_gardien+" "+one_gardien.nom_gardien}}</option>
      </select>
    <div *ngIf="submitted && f.id_gardien.errors" class="invalid-feedback">
        <div *ngIf="f.id_gardien.errors.required"> Le gardien est obligatoire  </div>
    </div>
  </div>		
  <!-- note field avec un control de validite -->
  <div class="form-group col-sm-6">
    <label >Note</label>
    <input class="form-control" type="text"  formControlName="note"  placeholder="note"  [ngClass]="{ 'is-invalid': submitted && f.note.errors }"/>
    <div *ngIf="submitted && f.note.errors" class="invalid-feedback">
        <div *ngIf="f.note.errors.required"> La note est obligatoire </div>
    </div>
  </div>		
  <!-- commentaire field avec un control de validite -->
  <div class="form-group col-8">
    <label >Commentaire</label>
    <textarea class="form-control" type="text"  formControlName="commentaire"  placeholder="commentaire"  [ngClass]="{ 'is-invalid': submitted && f.commentaire.errors }">
      </textarea>
    <div *ngIf="submitted && f.commentaire.errors" class="invalid-feedback">
        <div *ngIf="f.commentaire.errors.required">  Le commentaire est obligatoire</div>
    </div>
  </div>		
</form>
<!-- vous pouvez valider votre formulaire n\'importe ou -->

<div class="text-center m-2">
<button type="button" class="btn btn-primary m-2" [disabled]="loading_add_note "
  (click)="form_add_note .ngSubmit.emit()">{{loading_add_note ?"En cours ...":"Valider"}}</button>
<button class="btn btn-secondary m-2" type="reset" (click)="onReset_add_note ()">Vider</button>
</div>
