
<form  [formGroup]="reactiveForm_add_utilisateur " (ngSubmit)="onSubmit_add_utilisateur ()" #form_add_utilisateur ="ngForm" class="row">

<!-- id_role field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Privilège</label>
      <input class="form-control" type="text"  formControlName="id_role"  placeholder="id_role"  [ngClass]="{ 'is-invalid': submitted && f.id_role.errors }"/>
      <div *ngIf="submitted && f.id_role.errors" class="invalid-feedback">
          <div *ngIf="f.id_role.errors.required"> id_role est obligatoire </div>
      </div>
    </div>   
<!-- nom_utilisateur field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Nom</label>
      <input class="form-control" type="text"  formControlName="nom_utilisateur"  placeholder="nom_utilisateur"  [ngClass]="{ 'is-invalid': submitted && f.nom_utilisateur.errors }"/>
      <div *ngIf="submitted && f.nom_utilisateur.errors" class="invalid-feedback">
          <div *ngIf="f.nom_utilisateur.errors.required"> nom_utilisateur est obligatoire </div>
      </div>
    </div>  
<!-- prenom_utilisateur field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Prénom</label>
      <input class="form-control" type="text"  formControlName="prenom_utilisateur"  placeholder="prenom_utilisateur"  [ngClass]="{ 'is-invalid': submitted && f.prenom_utilisateur.errors }"/>
      <div *ngIf="submitted && f.prenom_utilisateur.errors" class="invalid-feedback">
          <div *ngIf="f.prenom_utilisateur.errors.required"> prenom_utilisateur est obligatoire </div>
      </div>
    </div>  
<!-- date_naissance_utilisateur field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Date de naissance</label>
      <input class="form-control" type="date"  formControlName="date_naissance_utilisateur"  placeholder="date_naissance_utilisateur"  [ngClass]="{ 'is-invalid': submitted && f.date_naissance_utilisateur.errors }"/>
      <div *ngIf="submitted && f.date_naissance_utilisateur.errors" class="invalid-feedback">
          <div *ngIf="f.date_naissance_utilisateur.errors.required"> date_naissance_utilisateur est obligatoire </div>
      </div>
    </div>  
<!-- lieu_naissance_utilisateur field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Lieu de naissance</label>
      <input class="form-control" type="text"  formControlName="lieu_naissance_utilisateur"  placeholder="lieu_naissance_utilisateur"  [ngClass]="{ 'is-invalid': submitted && f.lieu_naissance_utilisateur.errors }"/>
      <div *ngIf="submitted && f.lieu_naissance_utilisateur.errors" class="invalid-feedback">
          <div *ngIf="f.lieu_naissance_utilisateur.errors.required"> lieu_naissance_utilisateur est obligatoire </div>
      </div>
    </div>  
<!-- telephone_utilisateur field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Numéro de téléphone</label>
      <input class="form-control" type="text"  formControlName="telephone_utilisateur"  placeholder="telephone_utilisateur"  [ngClass]="{ 'is-invalid': submitted && f.telephone_utilisateur.errors }"/>
      <div *ngIf="submitted && f.telephone_utilisateur.errors" class="invalid-feedback">
          <div *ngIf="f.telephone_utilisateur.errors.required"> telephone_utilisateur est obligatoire </div>
      </div>
    </div>  
<!-- email_utilisateur field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Email</label>
      <input class="form-control" type="text"  formControlName="email_utilisateur"  placeholder="email_utilisateur"  [ngClass]="{ 'is-invalid': submitted && f.email_utilisateur.errors }"/>
      <div *ngIf="submitted && f.email_utilisateur.errors" class="invalid-feedback">
          <div *ngIf="f.email_utilisateur.errors.required"> email_utilisateur est obligatoire </div>
      </div>
    </div>  
<!-- password_utilisateur field avec un control de validite -->
    <div class="form-group col-sm-6">
      <label >Mot de passe</label>
      <input class="form-control" type="text"  formControlName="password_utilisateur"  placeholder="password_utilisateur"  [ngClass]="{ 'is-invalid': submitted && f.password_utilisateur.errors }"/>
      <div *ngIf="submitted && f.password_utilisateur.errors" class="invalid-feedback">
          <div *ngIf="f.password_utilisateur.errors.required"> password_utilisateur est obligatoire </div>
      </div>
    </div>   
</form>
<!-- vous pouvez valider votre formulaire n'importe ou -->

<div class="text-center m-2">
    <button type="button" class="btn btn-primary m-2" [disabled]="loading_add_utilisateur "
        (click)="form_add_utilisateur .ngSubmit.emit()">{{loading_add_utilisateur ?"En cours ...":"Valider"}}</button>
    <button class="btn btn-secondary m-2" type="reset" (click)="onReset_add_utilisateur ()">Vider</button>
</div>
