<!-- entete -->
<div class="d-flex align-items-center justify-content-between">
  <div class="fs-1">Les Localisations  - {{les_localisations.length}}</div>
  <div class="d-flex">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_add_localisation">Ajouter Localisation</button>
  </div>
</div>
<!-- list -->
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id_localisation</th>
<th scope="col">longitude_localisation</th>
<th scope="col">latitude_localisation</th>
<th scope="col">created_at</th>
<th scope="col">updated_at</th><th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let one_localisation of les_localisations">
        <td>{{one_localisation.id_localisation}}</td>
<td>{{one_localisation.longitude_localisation}}</td>
<td>{{one_localisation.latitude_localisation}}</td>
<td>{{one_localisation.created_at}}</td>
<td>{{one_localisation.updated_at}}</td><td>
  <div class="dropdown">
    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">actions</button>
    <div class="dropdown-menu">
      <a (click)="on_click_edit(one_localisation)" class="dropdown-item" data-bs-toggle="modal"
        data-bs-target="#modal_edit_localisation">
        <i class="bx bx-edit-alt me-1"></i>
        Modifier
      </a>
      <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i>Voir plus</a>
      <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i>Supprimer</a>
    </div>
  </div>
</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- ajout -->
<div class="modal fade" id="modal_add_localisation" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
          <div class="modal-header " data-bs-theme="dark">
              <h1 class="modal-title fs-5">Ajouter Localisation</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <app-add-localisation (cb_add_localisation)="after_add($event)"></app-add-localisation>
          </div>
      </div>
  </div>
</div>
<!-- modification -->
<div class="modal fade" id="modal_edit_localisation" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header" data-bs-theme="dark">
        <h1 class="modal-title fs-5">Modifier Localisation</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="on_close_modal_edit()"></button>
      </div>
      <div class="modal-body">
        <app-edit-localisation *ngIf="localisation_to_edit" (cb_edit_localisation)="after_edit($event)" [localisation_to_edit]="localisation_to_edit"></app-edit-localisation>
      </div>
    </div>
  </div>
</div>
  